# ==========================================
# Configurações do Bot do Telegram
# ==========================================
TELEGRAM_TOKEN=seu_token_aqui
TELEGRAM_CHAT_ID=seu_chat_id_aqui
GOOGLE_SHEETS_CSV_URL=seu_url_aqui
